<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"
        type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <title>Fraud Shield</title>
</head>
<body class="home">
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        <h1>DETECT CREDIT CARD</h1>
        <h2>FRAUD WITH AI!</h2>
        <a href="/form"><button>Demo</button></a>
</body>
</html>